* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo img {
  width: 200px;
}

header,
footer {
  background-color: rgb(20, 20, 20);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
  font-size: 1.5rem;
}
nav a {
  text-decoration: none;
  color: #fff;
}
nav a:hover {
  color: rgb(255, 230, 0);
}

main {
  text-align: center;
  padding-top: 30px;
  font-size: 1.5rem;
}
.container {
  display: inline-block;
  align-items: center;
  justify-content: center;
  columns: 3;
  grid-area: ;
}
.itens {
  background-color: blue;
  display: grid;
}
.itens img {
  width: 300px;
}
.barra img {
  width: 300px;
}

.barra {
  display: flex;
  background-color: rgb(31, 30, 30);
  width: 300px;

  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}
