* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heads {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 10px;
}
.container {
  background-color: darkgray;
  min-height: 100vh;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.item {
  flex-basis: 350px;
  height: 230px;
  border: 2px solid black;
  background-color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foots {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 10px;
}

@media (max-width: 1400px) {
  display: flex;
}
